.module_topBar {
    width: 100%;
    height: .8rem;
    background: rgb(82,184,180);
}
.button_back {
    display: inline-block;
    vertical-align: top;
    background: inherit;
    height: .8rem;
    line-height: .8rem;
    width: .8rem;
}
.button_back .img_back {
    width: .3rem;
    margin-top: .13rem;
    margin-left: -.03rem;
}
.title_topBar {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: normal;
    font-size: .36rem;
    height: .8rem;
    line-height: .8rem;
    text-indent: 29%;
    width: calc(100% - .9rem);
}
.module_receive {
    margin:.25rem;
    width: 7rem;
    height: 3rem;
    border-radius: .3rem;
    border:.01rem solid #000;
    background: #fffaf6;
}

.img_receiverName,.img_address {
    display: inline-block;
    vertical-align: top;
    width: .5rem;
    margin-left: .4rem;
    margin-top: .4rem;
    margin-right: .2rem;
}
.text_receiverName,.text_address {
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    word-break:break-all;
    width: 5.6rem;
}
.text_receiverName {
    margin-top: .5rem;
}
.text_price {
    color: #ff0000;
    margin-bottom: .06rem;
}

.text_price:before {
    content: '¥';
    color: #000;
}
.text_num:before {
    content: 'x';
}
.img_ware {
    display: inline-block;
    vertical-align: top;
    width: 2.12rem;
    height: 2.12rem;
    margin-left: .2rem;
}
.text_ware {
    display: inline-block;
    vertical-align: top;
    margin-left: .25rem;
}
.module_receiverName,.module_address {
    height: 1.4rem;
    font-size: .3rem;
}
.text_receiverName:before {
    content: '收件人：';
}
.text_address:before {
    content: '收货地址：';
}
.module_receiverName {
    margin-top: .1rem;
}
.img_address {
    margin-top: .1rem;
}
.text_address {
    margin-top: .2rem;
}
.item_ware {
    border-top: .01rem solid #000;
    border-bottom: .01rem solid #000;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.title_ware {
    font-weight: normal;
    font-size: .4rem;
}
.module_style {
    display: inline-block;
    vertical-align: top;
    margin-top: .35rem;
}
.text_priceAndNum {
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: top;
}
.text_price,.text_num {
    display: block;
}
.module_details {
    position: relative;
    width: 4.7rem;
    height: .8rem;
    font-size: .33rem;
    margin-top: .75rem;
}
.module_sendWay, .module_cost {
    display: inline-block;
    vertical-align: top;
    margin-left: .3rem;
}
.module_express {
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .3rem;
}
.text_cost {
    color: #ff0000;
}
.text_message {
    height: 3rem;
    margin-top: .4rem;
}
#area_message {
    width: 6.8rem;
    height: 2rem;
    border:.01rem solid #000;
    border-radius: .2rem;
    margin-left: .25rem;
    resize: none;
    padding: .1rem;
}
.label_messageArea {
    display: block;
    font-size: .3rem;
    margin-left: .25rem;
    margin-bottom: .3rem;
}
.text_sendWay:before {
    content: '配送方式：';
}
.text_cost:before {
    content:'邮费';
    color: #000;
    margin-right: .1rem;
}
.text_cost:after {
    content:'元';
    color:#000;
    margin-left: .1rem;
}
.text_numAll:before {
    content: '共';
    color: #000;
    margin-right: .02rem;
}
.text_numAll:after {
    content: '件，';
    color: #000;
    margin-left: .02rem;
}
.text_payAll:before {
    content: '总金额¥';
    color: #000;
    margin-right: .05rem;
}
.text_payAll,.text_numAll {
    display: inline-block;
    vertical-align: top;
    height: 1rem;
    line-height: 1rem;
    color: #ff0000;
    font-size: .35rem;
}
.module_guideBar {
    position: absolute;
    bottom:0;
    height: 1rem;
    width: 100%;
    font-size: 0;
}
.module_count {
    display: inline-block;
    vertical-align: top;
    width: 4.8rem;
    background: #dbfff1;
}
.button_pay {
    display: inline-block;
    vertical-align: top;
    width: 2.7rem;
    background: #c2e6ff;
    height: 1rem;
    color: #ff6700;
    line-height: 1rem;
    font-size: .45rem;
    text-align: center;
}
.text_numAll {
    margin-left: .8rem;
}
.module_confirm {
    height: 11.5rem;
    overflow: scroll;
}