.module_topBar {
    width: 100%;
    height: .8rem;
    background: rgb(82,184,180);
}
body {
    background: rgb(235,235,235);
}
.button_back,.button_search {
    display: inline-block;
    vertical-align: top;
    background: inherit;
    height: .8rem;
    line-height: .8rem;
    width: .8rem;
}
.button_back .img_back {
    width: .3rem;
    margin-top: .13rem;
    margin-left: -.03rem;
}
.title_topBar {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: normal;
    font-size: .36rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    width: calc(100% - 1.8rem);
}
.button_search .img_search {
    width: .5rem;
    margin-top: .12rem;
    margin-right: .05rem;
}

#module_activity {
    position: relative;
    height: 3rem;
    width: 100%;
}
.button_prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 1.2rem;
    z-index:10;
    background: inherit;
}
.button_next {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 1.2rem;
    z-index:10;
    background: inherit;
}
.button_next .img_next {
    width: .3rem;
    transform:rotate(180deg);
    margin-right: -.1rem;
}
.button_prev .img_prev {
    width: .3rem;
    margin-left: -.1rem;
}
.img_barShadow{
    width: 100%;
}
.button_pitch,.button_party,.button_meeting {
    background: #88abda;
    height: 1rem;
    width: 1.8rem;
    color: #fff;
    font-size: .35rem;
    border-radius: .3rem;
    margin-top: -.8rem;
    margin-right:.5rem;
    line-height:1rem;
    text-align: center;
}
.collection_type {
    margin-left: .4rem;
    margin-bottom: .3rem;
}
.img_pattern1 {
    display: inline-block;
    vertical-align: top;
    height: 1.6rem;
    width: .38rem;
    margin-top: .4rem;
    margin-left: .4rem;
    margin-right: .6rem;
}
.img_pattern2 {
    display: inline-block;
    vertical-align: top;
    height: 1.6rem;
    width: .38rem;
    margin-left: .4rem;
    margin-top: .4rem;
}
.show_ware {
    display: inline-block;
    vertical-align: top;
    margin-top: .4rem;
    width: 3rem;
}
.collection_label {
    margin-top: .6rem;
}
.item_label {
    display: inline-block;
    vertical-align: top;
    width: .5rem;
    height: .24rem;
    color: #fff;
}
.item_ware {
    background: #fff;
    border-radius: .2rem;
    width: 7rem;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .4rem;
    height: 2.4rem;
}
.title_ware {
    font-weight: normal;
    font-size: .3rem;
}
.item_label {
    display: inline-block;
    vertical-align: top;
    height: .5rem;
    width: .8rem;
    border-radius: .1rem;
    text-align: center;
    line-height: .5rem;
    font-size: .16rem;
    margin-right: .05rem;
}
.img_ware {
    display: inline-block;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: .3rem;
    margin-left: .3rem;
    margin-right: .3rem;
}
.module_guideBar {
    position: absolute;
    bottom: 0;
    height: 1rem;
    width: 100%;
    background: #f8f8f8;
}
.collection_ware {
    height: 5.9rem;
    overflow: scroll;
}
.button_me {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    background: #84ccc9;
    color: #fff;
    bottom: .1rem;
    left: calc(100% - 4.55rem);
    z-index: 100;
    font-size: .36rem;
    text-align: center;
    line-height: 1.6rem;
}
.button_material,.button_gift {
    width: 49%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    color: rgb(155,196,39);
}
#module_index {
    height: 100%;
}
.img_ad {
    width: 100%;
    height: 100%;
}

